<!-- src/app/inscripcion-alumno/inscripcion-alumno.component.html -->
<div class="container">
  <h1>Inscripción de Alumnos</h1>
  <form (ngSubmit)="onSubmit()" #inscripcionForm="ngForm">

    <!-- Datos del Alumno -->
    <fieldset>
      <legend>Datos del Alumno</legend>
      <div class="flex">
        <div class="form-group input">
          <label for="cedula">Cédula:</label>
          <input type="text" id="cedula" name="cedula" [(ngModel)]="alumno.cedula" required>
        </div>
        <div class="form-group input">
          <label for="fecha_nac">Fecha de Nacimiento:</label>
          <input type="date" id="fecha_nac" name="fecha_nac" [(ngModel)]="alumno.fecha_nac" required>
        </div>
      </div>
      <div class="flex">
        <div class="form-group input">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="alumno.nombre" required>
        </div>
        <div class="form-group input">
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" [(ngModel)]="alumno.apellido" required>
        </div>
      </div>


    </fieldset>

    <div style="display: flex; justify-content: center;">
      <button  *ngIf="listPadres.length<3" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPadres" (click)="openModal()" style="width: 12vw;">
        Insertar padre o tutor
      </button>
    </div>
    <br/>
    <table *ngIf="listPadres.length>0" class="table table-striped table-bordered table-hover" >
      <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Email</th>
        <th>Emergencia</th>
        <th>Retiro</th>
        <th>Acciones</th>

      </thead>
      <tbody *ngFor="let padre of listPadres">
        <td>{{padre.nombre}}</td>
        <td>{{padre.apellido}}</td>
        <td>{{padre.cedula}}</td>
        <td>{{padre.telefono}}</td>
        <td>{{padre.direccion}}</td>
        <td>{{padre.correo}}</td>
        <td>{{padre.emergencia}}</td>
        <td>{{padre.retiro}}</td>
        <td><button>X</button></td>
      </tbody>
    </table>



    <!-- Información de Facturación -->
    <fieldset>

      <legend>Información de Facturación</legend>
      <div class="flex">
        <div class="form-group input">
          <label for="facturacion-ruc">RUC:</label>
          <input type="text" id="facturacion-ruc" name="facturacion-ruc" [(ngModel)]="facturacion.ruc" required>
        </div>
        <div class="form-group input">
          <label for="facturacion-razon_social">Razón Social:</label>
          <input type="text" id="facturacion-razon_social" name="facturacion-razon_social" [(ngModel)]="facturacion.razon_social" required>
        </div>
      </div>
    </fieldset>

    <!-- Información de Inscripción -->
    <fieldset>
      <legend>Información de Inscripción</legend>
      <div class="flex">
        <div class="form-group input">
          <label for="fecha_inscripcion">Fecha de Inscripción:</label>
          <input type="date" id="fecha_inscripcion" name="fecha_inscripcion" [(ngModel)]="inscripcion.fecha_inscripcion" required>
        </div>
        <div class="form-group input">
          <label for="id_curso">Curso:</label>
            <select id="id_curso" name="id_curso"  name="encargado-retiro" [(ngModel)]="inscripcion.id_curso" required>
              <option *ngFor="let curso of listCurso" [value]="curso.ID_Curso">{{curso.Descripcion}}</option>
            </select>
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="contrato">Contrato:</label>
        <input type="file" id="contrato" name="contrato" (change)="onFileSelected($event)" required>
      </div>-->
      <div class="form-group">
        <label for="firmado">Firmado:</label>
        <select id="firmado" name="firmado" [(ngModel)]="inscripcion.firmado" required>
          <option value="S">Sí</option>
          <option value="N">No</option>
        </select>
      </div>

      <div class="form-group">
        <label for="estado">Estado:</label>
        <select id="estado" name="estado" [(ngModel)]="inscripcion.estado" required>
          <option value="Pendiente de pago">Pendiente de pago</option>
          <option value="Pagado">Pagado</option>
          <option value="Inscripto">Inscripto</option>
        </select>
      </div>
    </fieldset>
    <div style="display: flex; justify-content: center;">
      <button type="submit" style="width: 15vw;" (click)="prevIncripcion()">Registrar Inscripción Completa</button>
    </div>
  </form>
</div>


<!-- Modal -->
<div class="modal" id="modalPadres" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 15px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="display: flex; justify-content: space-between;">
        <h5 class="modal-title" id="exampleModalLabel">Datos del Padre/Madre o Encargado</h5>
        <button type="button" class="close cerrarchico" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <small>x</small>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del formulario -->
         <fieldset>
          <div style="display: flex; justify-content: space-between;">
            <div class="form-group">
              <label for="encargado-cedula">Cédula:</label>
              <input type="text" id="encargado-cedula" name="encargado-cedula" [(ngModel)]="padre_encargado.cedula" required>
            </div>
            <div class="form-group ">
              <label for="encargado-telefono">Teléfono:</label>
              <input type="text" id="encargado-telefono" name="encargado-telefono" [(ngModel)]="padre_encargado.telefono" required>
            </div>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <div class="form-group ">
              <label for="encargado-nombre">Nombre:</label>
              <input type="text" id="encargado-nombre" name="encargado-nombre" [(ngModel)]="padre_encargado.nombre" required>
            </div>
            <div class="form-group">
              <label for="encargado-apellido">Apellido:</label>
              <input type="text" id="encargado-apellido" name="encargado-apellido" [(ngModel)]="padre_encargado.apellido" required>
            </div>
          </div>

           <div class="form-group">
             <label for="encargado-direccion">Dirección:</label>
             <input type="text" id="encargado-direccion" name="encargado-direccion" [(ngModel)]="padre_encargado.direccion" required>
           </div>

           <div class="form-group">
             <label for="encargado-correo">Correo Electrónico:</label>
             <input type="email" id="encargado-correo" name="encargado-correo" [(ngModel)]="padre_encargado.correo" required>
           </div>
           <div style="display: flex; justify-content: space-around;">
            <div class="form-group">
              <label for="encargado-emergencia">Emergencia:</label>
              <select id="encargado-emergencia" name="encargado-emergencia" [(ngModel)]="padre_encargado.emergencia" required>
                <option value="S">Sí</option>
                <option value="N">No</option>
              </select>
            </div>
            <div class="form-group">
              <label for="encargado-retiro">Retiro:</label>
              <select id="encargado-retiro" name="encargado-retiro" [(ngModel)]="padre_encargado.retiro" required>
                <option value="S">Sí</option>
                <option value="N">No</option>
              </select>
            </div>
           </div>

         </fieldset>
        <!-- Puedes colocar tu formulario aquí -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="insertPadreEncargado()" >Insertar</button>
        <!-- Agrega aquí los botones que necesites -->
      </div>
    </div>
  </div>
</div>
