/* src/app/inscripcion-alumno/inscripcion-alumno.component.css */
.container {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;

}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.cerrarchico{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 0px;
  padding-top: 0px;
}

.cerrarchico > small{
  margin-top: 0px;
}

.flex{
  display: flex;
  justify-content: space-between;
}
.input {
  width: 28vw;
}
