<!-- src/app/app.component.html -->
<!--app-inscripcion-alumno></app-inscripcion-alumno-->

<div style="display: flex; flex-direction: column;">

    <div class="col s12 no-margin-no-padding">

        <app-body-header></app-body-header>

    </div>
    <hr/>

    <div class="col s12 no-margin-no-padding">

        <app-body-content></app-body-content>

    </div>

</div>


