<h1>Gestión de Cursos</h1>
<table>
  <thead>
    <tr>
      <th>Nivel</th>
      <th>Ciclo</th>
      <th>Especialización</th>
      <th>Turno</th>
      <th>Matrícula</th>
      <th>Cuota</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of cursos">
      <td>{{ curso.Nivel }}</td>
      <td>{{ curso.Ciclo }}</td>
      <td>{{ curso.Especializacion }}</td>
      <td>{{ curso.Turno }}</td>
      <td>{{ curso.Matricula }}</td>
      <td>{{ curso.Cuota }}</td>
    </tr>
  </tbody>
</table>
