<div style="background-color: rgb(25, 94, 94);">
  <div class="titulo">
    <h1 >CEPB</h1>
  </div>
  <div style="display:flex; background-color: rgb(45, 121, 95);">
      <div class="dropdown menu">
          <button class="btn dropdown-toggle btnmenu" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Alumno
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" [routerLink]="['/inscripcion']">Inscripcion Alumno</a></li>
          </ul>
      </div>
      <div class="dropdown menu">
          <button class="btn dropdown-toggle btnmenu" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Curso
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" [routerLink]="['/curso']">Gestion Curso</a></li>
          </ul>
      </div>
  </div>

</div>
